* {
    font-family: 'Work Sans', sans-serif;
    color: #554640;
}
body {
    font-family: 'Work Sans', sans-serif;
    background-image: url("triangle.jpg");
    font-weight: normal;
    font-style: normal;
    background-repeat: no-repeat;
    background-size: cover;
}   
h1 {
    text-align-last: center;
    font-size: 3em;
    color: #ff6f00;
    text-decoration: underline; 
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1.2em;
}

article {
    text-align: justify; 
}
.headings {
    text-align-last: center;
}
.headings h1 {
    text-align-last: center;
    text-decoration: none;
    font-size: 3em;
    color: #554640;
}

.headings h2 {
    font-size: 2em;
    text-align-last: center;
}
table, td, th{
    border: 1px solid #554640;
}

.reference p {
    text-align-last: center;
}
a:link {
    text-decoration: none;
    font-weight: bold;
    font-size: 1em;
    color: #808000;
}
a:visited {
    color: #800080;
}

.contact a{
    text-align-last: center;
    
}


a:hover{
    text-decoration: underline;
}


